@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-textPrimary font-sans;
    margin: 0;
    overflow: hidden;
    user-select: none;
  }
}
